.scrollSection__marquee {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;

  @media (max-width: 768px){
    margin-top: 0;
  }

  .marquee__item {
    height: 40px;
    margin-right: 40px;
    margin-top: 20px;
    transition: .3s;
    filter: grayscale(1);
     img{
       height: 100%;
     }

    @media (max-width: 768px){
      height: 28px;
    }

    &:hover{
      filter: grayscale(0);
    }

  }
}