div.pagination
    a(href="#").pagination__button-prev Назад
    a.pagination__button-prev_not-active Назад

    div.pagination-page-list
        a(href="#").pagination__button.pagination__button_active 1
        a(href="#").pagination__button 2
        a(href="#").pagination__button 3

    a(href="#").pagination__button-next Далее
    a.pagination__button-next_not-active Далее