$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivWidth($pcWidth) {
  width: calc((#{$pcWidth + px} / 1920) * 100%);
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivMargin($pcMargin, $mobMargin) {
  $addMargin: $pcMargin - $mobMargin;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
}

.about{

  .about__block{
    @include adaptivMarginBottom(64,24);

    &.about__block_horizontal{
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include adaptivGridGap(32,24);
      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        .about__text{
          @include adaptivMargin(164, 20);
          @media (max-width: 550px) {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }

    }

    .about__img {
      &.about__img_main img{
        @include adaptivMarginBottom(64,24)
      }

      img {
        width: 100%;
        height: 26vw;
        object-fit: cover;
        border-radius: 20px;

        @media (max-width: 1024px) {
          height: 343px;
        }
      }
    }

    .about__text{

      p{
        @include adaptivFont(24, 16);
        line-height: 120%;
        margin-bottom: 16px;
        font-weight: 300;
      }

      &.about__text_center{
        @include adaptivMargin(164, 20);
        @media (max-width: 550px) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}