$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivMarginRight($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-right: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivLeftRightMargin($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivPaddingTop($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  padding-top: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.sights-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include adaptivMarginBottom(32, 24);

  @media (max-width: 550px) {
    display: grid;
    grid-gap: 8px;
  }
}

.sights-btn__list {
  transition: ease 0.3s;
  margin-top: -8px;

  @media (max-width: 550px) {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    margin-left: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    button:first-child {
      margin-left: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
    button:last-child {
      padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
  }

  button {
    outline: none;
    background: #FF716E;
    border: none;
    transition: ease 0.3s;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 16px;
    @include adaptivMarginRight(32, 8);
    margin-top: 8px;

    p {
      transition: ease 0.3s;
      @include adaptivFont(24, 16);
      font-weight: 500;
      color: white;
      white-space: nowrap;
    }

    &:hover {
      background: $firsColor;
    }
  }
}

.sights-btn__list-btn_active {
  background: $firsColor !important;
  box-shadow: 0px 22px 44px -12px rgba(77, 146, 234, 0.35);

  p {
    color: white;
  }
}

.sights-btn__map {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondColor;
  border-radius: 20px;
  width: 100%;
  max-width: 197px;
  transition: ease 0.3s;
  cursor: pointer;
  box-shadow: 0px 22px 44px -12px rgba(255, 113, 110, 0.35);

  p {
    max-width: 105px;
    color: white;
    text-align: center;
  }

  svg {
    width: 35px;
    height: 35px;
    fill: white;
  }

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #4D92EA, 10px 10px 0px #EED682;
  }

  @media (max-width: 1024px) {
    padding: 8px 16px;
    max-width: 180px;
    p {
      max-width: none;
    }
  }
}

.category-slider {
  margin-top: 0;
  @include adaptivLeftRightMargin(-16, -8);
  position: relative;
  @include adaptivMarginBottom(32, 24);
  @media (max-width: 767px) {
    margin-left: unset;
    margin-right: unset;
  }
}

.cat-slider__slides-item {
  outline: none;
}

.cat-slider__slides {
  @media (max-width: 767px) {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    margin-left: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    .cat-slider__slides-item:first-child {
      margin-left: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
    .cat-slider__slides-item:last-child {
      padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
  }
}

.cat-slider__slides-item {
  margin-top: 16px;
  margin-bottom: 16px;
  @include adaptivLeftRightMargin(16, 8);
}

.cat-slider__slides-item-img {
  max-width: 258px;
  max-height: 258px;
  height: 13.6vw;
  width: 13.6vw;
  background: white;
  box-shadow: 0px 0px 22px rgba(77, 146, 234, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 24px;
  transition: ease 0.3s;

  @media (max-width: 1320px) {
    width: 21vw;
    height: 21vw;
  }

  img {
    width: 100%;
  }

  @media (max-width: 767px) {
    max-width: 261px;
    max-height: 261px;
    width: 261px;
    height: 261px;
    img {
      width: inherit;
    }
  }
}

.cat-slider__slides-item-title {
  margin-left: 20px;
  word-break: break-word;
  @media (max-width: 1024px) and (min-width: 768px) {
    margin-left: 5px;
  }
}

.cat-slider__slides-controls {
  .cat-slider__slides-next-button,
  .cat-slider__slides-prev-button {
    transition: ease 0.3s;

    &:hover {
      border-color: $secondColor;
    }
  }

  .cat-slider__slides-next-button {
    width: 64px;
    height: 64px;
    border: 5px solid #ffffff;
    border-radius: 100%;
    background: $firsColor;
    cursor: pointer;
    position: absolute;
    top: calc(7vw - 16px);
    right: -35px;

    svg {
      position: absolute;
      left: calc(50% - 13px);
      top: calc(50% - 13px);
      height: 26px;
      width: 26px;
      fill: white;
      transform: rotate(180deg);
    }
  }

  .cat-slider__slides-prev-button {
    position: absolute;
    top: calc(7vw - 16px);
    left: -35px;
    width: 64px;
    height: 64px;
    border: 5px solid #ffffff;
    border-radius: 100%;
    background: $firsColor;
    cursor: pointer;

    svg {
      position: absolute;
      left: calc(50% - 13px);
      top: calc(50% - 13px);
      height: 26px;
      width: 26px;
      fill: white;

    }
  }

  @media (max-width: 1024px) {
    .cat-slider__slides-next-button {
      right: -20px;
    }
    .cat-slider__slides-prev-button {
      left: -20px;
    }
    .cat-slider__slides-next-button,
    .cat-slider__slides-prev-button {
      width: 32px;
      height: 32px;
      border: 3px solid #ffffff;
      top: calc(11vw - 8px);

      svg {

        left: calc(50% - 8px);
        top: calc(50% - 8px);
        height: 16px;
        width: 16px;
      }
    }
  }
  @media (max-width: 767px) {
    .cat-slider__slides-next-button,
    .cat-slider__slides-prev-button {
      display: none;
    }
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include adaptivGridGap(32, 16);
  @include adaptivPaddingTop(16, 12);

  @media (max-width: 1320px) {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

}

.catalog-category__item {
  @media (max-width: 1320px) {
    min-height: 27vw;
  }
  @media (max-width: 767px) {
    justify-self: center;
  }
}

.category-grid__btn {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  max-height: 56px;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;
  @include adaptivMarginBottom(16, 12);
  transition: ease 0.3s;
  cursor: pointer;

  p {
    color: white;
    user-select: none;
  }
}

.category-grid__btn_open {
  background: #4D92EA;
  box-shadow: 0px 22px 44px -12px rgba(77, 146, 234, 0.35);

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #FF716E, 10px 10px 0px #EED682;
  }
}

.category-grid__btn_close {
  background: #FF716E;
  box-shadow: 0px 22px 44px -12px rgba(255, 113, 110, 0.35);

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 0px #4D92EA, 10px 10px 0px #EED682;
  }
}

.category-grid-list {
  @include adaptivMarginBottom(64, 24)
}

.category-grid-container {
  display: none;
}

.dost-cat-info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptivMarginBottom(22, 14);
  padding-right: 20px;
  padding-left: 20px;
  @media (max-width: 767px) {
    .linkButton {
      display: none;
    }
  }
}

.dost-cat-info__mob-btn {
  display: none;
  @include adaptivMarginBottom(34, 24);
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-sight {
  cursor: pointer;
  @include adaptivMarginBottom(64, 24);

  h2 {
    padding-left: 20px;
    @include adaptivMarginBottom(32, 24);
    @media (max-width: 330px) {
      word-break: break-word;
    }
  }

  .top-sight__fist-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    @include adaptivMarginBottom(32, 16);
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  .top-sight__item-image {
    max-width: 838px;
    max-height: 715px;
    width: 43vw;
    height: 37vw;
    border-radius: 20px;
    @include adaptivMarginBottom(32, 16);

    @media (max-width: 550px) {
      width: 100%;
      height: 343px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transition: ease 0.3s;
    }
  }

  .top-sight__item-desc {
    display: grid;
    @include adaptivGridGap(16, 16);
    padding-left: 20px;
    padding-right: 20px;

    h3 {
      line-height: 120%;

    }

    .top-sight__item-desc-tag {
      @include adaptivFont(18, 16);
      font-weight: 500;
      color: $fourthColor;
      text-transform: uppercase;
    }

    p {
      @include adaptivFont(18, 16);
      font-weight: 300;
      line-height: 120%;
    }
  }

  .top-sight__item-desc-rating,
  .top-sight__item-desc-rating-text {
    display: flex;
    align-items: center;
  }

  .top-sight__item-desc-rating {
    p {
      font-weight: 300;
      font-size: 18px;
      text-decoration: underline;
    }
  }

  .top-sight__item-desc-rating-text {
    margin-right: 16px;
    font-weight: 300;
    @include adaptivFont(18, 16);

    svg {
      width: 20px;
      height: 20px;
      fill: $firsColor;
      margin-right: 8px;
    }
  }
}

.top-sight__other-item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptivGridGap(32, 16);

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 550px) {
    .top-sight__other-item {
      .top-sight__other-item-desc {
        .top-sight__other-item-desc-rating,
        p {
          display: none;
        }
      }
    }
  }
}

.top-sight__other-item {
  display: flex;
  @media (max-width: 550px) {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-gap: 16px;
  }
}

.top-sight__other-item-image {
  flex: 1;
  max-width: 261px;
  max-height: 261px;
  height: 13.6vw;
  width: 13.6vw;
  border-radius: 20px;
  @include adaptivMarginRight(32, 16);

  img {
    transition: ease 0.3s;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    height: 261px;
    width: 261px;
    img {
      height: 261px;
      width: 261px;
    }
  }
  @media (max-width: 767px) {
    height: 200px;
    width: 200px;
    img {
      height: 200px;
      width: 200px;
    }
  }
  @media (max-width: 550px) {
    height: 20vw;
    width: 20vw;
    img {
      height: 20vw;
      width: 20vw;
    }
  }
}

.top-sight__other-item-desc {
  flex: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (max-width: 550px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.top-sight__other-item-desc-tag {
  color: $fourthColor;
  text-transform: uppercase;
  @include adaptivFont(18, 16);
  line-height: 120%;
  margin-bottom: 16px;
}

.top-sight__other-item-desc {
  h3 {
    font-weight: 700;
    @include adaptivFont(24, 16);
    line-height: 120%;
    margin-bottom: 16px;
  }
}

.top-sight__other-item-desc-rating {
  margin-bottom: 16px;
}

.top-sight__other-item-desc-rating,
.top-sight__other-item-desc-rating-text {
  display: flex;
  align-items: center;
}

.top-sight__other-item-desc-rating-text {
  @include adaptivFont(18, 16);
  font-weight: 300;

  svg {
    fill: $firsColor;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.top-sight__other-item-desc-rating {
  p {
    margin-left: 16px;
    @include adaptivFont(18, 16);
    font-weight: 300;
    text-decoration: underline;
  }
}

.top-sight__other-item-desc {
  p {
    @include adaptivFont(18, 16);
    font-weight: 300;
    line-height: 120%;
  }
}

.faq-container {
  h2 {
    @include adaptivMarginBottom(32, 24)
  }
}

.faq-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include adaptivGridGap(32, 16);

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.faq-image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  img {
    max-width: 700px;
    width: 100%;
  }

  @media (max-width: 767px) {
    width: 350px;
  }
}

.faq-content__list-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  h3 {
    flex: 5;
    @include adaptivFont(24, 24)
  }

  .faq-content__list-item-title-icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .faq-content__list-item-title-icon-body {
      background: $textColor;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease 0.3s;
      box-shadow: 0px 0px 22px rgba(41, 42, 49, 0.35);

      svg {
        transition: inherit;
        width: 14px;
        height: 20px;
        fill: white;
        transform: rotate(-90deg);
      }
    }
  }

  &:hover {
    h3 {
      text-decoration: underline;
    }

    .faq-content__list-item-title-icon-body {
      background: $firsColor;
      box-shadow: 0px 22px 44px -12px rgba(77, 146, 234, 0.35);
    }
  }
}

.faq-content__list-item-text {
  display: none;

  p {
    margin-top: 16px;
    line-height: 150%;
    font-size: 18px;
    font-weight: 300;
  }
}

.faq-content__list-item {
  @include adaptivMarginBottom(32, 24)
}

.catPrevNextBtnOff {
  display: none;
}

.catItemOff {
  display: none;
}

.catSelectBtnOff {
  opacity: 0;
  pointer-events: none;
}
