$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivWidth($pcWidth) {
  width: calc((#{$pcWidth + px} / 1920) * 100%);
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivLeftRightMargin($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.for-business {

  .for-business__title-img {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      object-fit: contain;
      @include adaptivMarginBottom(64, 24)
    }
  }

  .for-business__subtitle {
    @include adaptivFont(32, 24);
    @include adaptivMarginBottom(32, 24);
  }

  .for-business__text {
    @include adaptivFont(24, 16);
    margin-bottom: 24px;
    font-weight: 300;
    line-height: 120%;
  }

  .for-business__info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @include adaptivMarginBottom(64, 24);


    &.for-business__info-block_center {
      max-width: 72vw;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  .for-business__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptivGridGap(32, 16);

    @media (max-width: 767px) {
      grid-template-columns: 1fr;

      .for-business__title-img{
        grid-row-start: 1;
      }

      .linkButton{
        padding: 0 58px;
        height: 56px;
        margin: 0 auto;
        align-self: center;
        justify-self: center;
      }
    }
  }
}

.for-business__slider {

  position: relative;
  .for-business__slides{
    @include adaptivLeftRightMargin(-16, -8);

    @media (max-width: 767px) {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-right: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
      margin-left: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
      .for-business__slider-slide:first-child{
        margin-left: calc(16px + 80 * ((100vw - 375px) / 1545));
      }
      .for-business__slider-slide:last-child{
        padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));
      }
    }
  }


  .for-business__slider-slide{
    height: 13.5vw;
    border-radius: 20px;
    box-shadow: 0 0 22px rgba(77, 146, 234, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    @include adaptivLeftRightMargin(16, 8);

    @media (max-width: 767px) {
      height: 261px;
      min-width: 261px;
      img{
        height: inherit;
        width: inherit;
      }
    }

    img{
      object-fit: contain;
      max-width: 100%;
    }
  }

  .for-business__slider-controls{
    @media (max-width: 767px) {
      .for-business__slider-next-button,
      .for-business__slider-prev-button {
        display: none;
      }
    }

    .for-business__slider-next-button{
      width: 64px;
      height: 64px;
      border: 5px solid #ffffff;
      border-radius: 100%;
      background: $firsColor;
      cursor: pointer;
      position: absolute;
      top: calc(7vw - 16px);
      right: -35px;

      svg{
        position: absolute;
        left: calc(50% - 13px) ;
        top: calc(50% - 13px) ;
        height: 26px;
        width: 26px;
        fill: white;
        transform: rotate(180deg);
      }
    }

    .for-business__slider-prev-button{
      position: absolute;
      top: calc(7vw - 16px);
      left: -35px;
      width: 64px;
      height: 64px;
      border: 5px solid #ffffff;
      border-radius: 100%;
      background: $firsColor;
      cursor: pointer;

      svg{
        position: absolute;
        left: calc(50% - 13px) ;
        top: calc(50% - 13px) ;
        height: 26px;
        width: 26px;
        fill: white;

      }
    }
    @media (max-width: 1024px) {
      .for-business__slider-next-button {
        right: -20px;
      }
      .for-business__slider-prev-button {
        left: -20px;
      }
      .for-business__slider-next-button,
      .for-business__slider-prev-button {
        width: 32px;
        height: 32px;
        border: 3px solid #ffffff;
        top: calc(7vw - 8px);

        svg {

          left: calc(50% - 8px);
          top: calc(50% - 8px);
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

