$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivWidth($pcWidth) {
  width: calc((#{$pcWidth + px} / 1920) * 100%);
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.page-content__title {
  h1 {
    display: flex;
    flex-direction: column;
    font-weight: 900;

    span {
      color: $firsColor;
      margin-bottom: 8px;
    }
  }

  @include adaptivMarginBottom(32, 24)
}

.city-info {
  display: grid;
  @include adaptivGridGap(32, 24);
  @include adaptivMarginBottom(64, 24);
}

.city-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  @include adaptivGridGap(32, 16);
  justify-content: center;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.city-info__text {
  grid-column-start: 1;
  grid-column-end: 2;

  p {
    font-weight: 300;
    text-indent: 64px;
    line-height: 120%;
  }

  @media (max-width: 1024px) {
    &.city-info__text-first {
      grid-column-end: 4;
    }
  }
  @media (max-width: 767px) {
    &.city-info__text-second {
      order: 3;
    }
  }
}

.city-info__image {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  align-self: center;
  @media (max-width: 1024px) {
    grid-row-start: 2;
  }
  @media (max-width: 767px) {
    order: 2;
    max-width: 500px;
  }
}

.city-gallery {
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  @include adaptivGridGap(32, 16);
  grid-template-columns: repeat(6, 1fr);
  @include adaptivMarginBottom(64, 24);
  height: 26vw;

  @media (max-width: 1024px) {
    height: 500px;
  }
}

.city-gallery__main,
.city-gallery__second {
  max-height: inherit;
}

.city-gallery__main {
  grid-column-start: 1;
  grid-column-end: 5;
  position: relative;

  .city-image__link {
    height: 100%;
  }

  @media (max-width: 767px) {
    grid-column-end: 7;
  }
}

.show-all-city-image {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF716E;
  box-shadow: 0px 22px 44px -12px rgba(255, 113, 110, 0.35);
  padding: 8px 16px;
  border-radius: 20px;
  transition: ease 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 0px $firsColor, 8px 8px 0px $thirdColor;
    transform: translate(-8px, -8px);
  }

  svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 16px;
  }

  p {
    font-size: 14px;
    color: white;
    font-weight: 300;
  }

  &.rightPosition{
    right: 24px;
    left: unset;
  }

  @media (max-width: 767px) {
    bottom: 16px;
    left: 16px;
    padding: 4px 8px;
    &.rightPosition{
      right: 16px;
    }
  }
}

.city-gallery__second {
  grid-column-start: 5;
  grid-column-end: 7;
  display: grid;
  grid-gap: calc(16px + 16 * ((100vw - 375px) / 1545));
  @media (max-width: 767px) {
    display: none;
  }

  .city-image__link {
    height: 100%;
  }

  .city-image__link:first-child {
    @include adaptivMarginBottom(32, 16)
  }
}

.city-image__link {
  display: block;
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.3s;

  &:hover {
    filter: brightness(0.5);
  }
}

.other-city-image {
  display: none;
}

.city-blog {
  @include adaptivMarginBottom(64, 24);
}

.city-blog__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  @include adaptivMarginBottom(32, 24);
  font-weight: 700;
}

.city-blog__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptivGridGap(32, 16);

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.city-blog__content-main {
  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 3;

    .city-blog__content-main-img{
      height: 60vw;
    }
  }


}

.city-blog__content-main-img {
  border-radius: 20px;
  width: 100%;
  @include adaptivMarginBottom(32, 16);
  transition: ease 0.3s;
  object-fit: cover;
  height: 21vw;
  @media (max-width: 1024px) {
    height: 40vw;
  }
}

.city-blog__content-main-title,
.city-blog__content-main-desc {
  padding-left: 20px;
  padding-right: 20px;
}

.city-blog__content-main-title {
  @include adaptivFont(24, 16);
  @include adaptivMarginBottom(16, 8);
}

.city-blog__content-main-desc {
  @include adaptivFont(18, 16);
  font-weight: 300;
}

.city-blog__content-link {
  display: block;
}

.city-blog__content-img-tag {
  position: relative;
}

.city-blog__content-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF716E;
  box-shadow: 0px 22px 44px -12px rgba(255, 113, 110, 0.35);
  padding: 8px 16px;
  border-radius: 20px;
  transition: ease 0.3s;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    fill: white;
  }

  p {
    color: white;
    font-weight: 500;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    top: 16px;
    left: 16px;
    padding: 4px 8px;
    svg {
      margin-right: 8px;
    }
  }
  @media (max-width: 550px) {
    display: none;
  }
}

.city-blog__content-second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptivGridGap(32, 16);

  img {
    //max-height: 403.5px;
  }

  @media (max-width: 1024px) {
    img {
      max-height: 250px;
    }

  }

  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr;
    img {
      max-height: 200px;
    }
  }
  @media (max-width: 550px) {
    img {
      height: 20vw;
      width: 20vw;
    }
  }
}

.content-link-second {
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;

    .city-blog__content-img-tag {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .city-blog__content-main-title,
    .city-blog__content-main-desc {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .city-blog__content-main-title {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .city-blog__content-main-desc {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
  @media (max-width: 550px) {
    grid-template-columns: 20vw 1fr 1fr;
    align-items: center;

    .city-blog__content-img-tag {
      height: 20vw;
      width: 20vw;
    }
    .city-blog__content-main-title {
      grid-row-end: 3;
    }
    .city-blog__content-main-desc {
      display: none;
    }
  }
}

.most-interesting {
  @include adaptivMarginBottom(64, 24);

  h2 {
    @include adaptivMarginBottom(32, 24);
    margin-left: 20px;
  }
}

.most-interesting__con-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include adaptivGridGap(32, 16);
}

.most-interesting__con-item-desc {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: 1400px) {
    grid-column-end: 7;
    padding-left: 20px;
    .linkButton {
      display: none;
    }
  }
}

.most-interesting__con-item-slider {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 7;
  @media (max-width: 1400px) {
    grid-column-start: 1;
  }
  @media (max-width: 767px) {
    .slider {
      .slider__slides {
        margin-top: -16px;
      }
    }
  }
}

.most-interesting__con-item-desc-title,
.most-interesting__con-item-desc-info {
  margin-bottom: 16px;
}

.most-interesting__con-item-desc-info {
  font-weight: 300;
}

.most-interesting__con-item {
  .slider {
    margin-bottom: 0;
  }
}

.most-interesting__con-item-mob {
  display: none;
  @media (max-width: 1400px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  @media (max-width: 550px) {
    justify-content: center;
  }
}

.most-interesting__con {
  display: grid;
  @include adaptivGridGap(54, 14)
}