head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title Волгоград 360
    link(rel='stylesheet', href='css/lib/slick.css')
    link(rel='stylesheet', href='css/lib/slick-theme.css')
    link(rel='stylesheet', href='css/lib/jquery.fancybox.min.css')
    link(rel="stylesheet", href="css/lib/leaflet.css")
    link(rel="stylesheet", href="css/lib/leaflet-gesture-handling.min.css")
    link(rel='stylesheet', href='css/lib/MarkerCluster.css')
    link(rel='stylesheet', href='css/lib/MarkerCluster.Default.css')
    link(rel='stylesheet', href='css/lib/animate.min.css')
    link(rel='stylesheet', href='css/main.min.css?v=1.21')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    