$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivLeftRightMargin($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.slider {
  position: relative;
  border-radius: 20px;
  @include adaptivMarginBottom(64, 24);
}

.slider__slides {
  margin-top: 0;
  margin-bottom: 0;
  @include adaptivLeftRightMargin(-16, -8);
  @media (max-width: 767px) {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    margin-left: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
    .slider__slide:first-child{
      margin-left: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
    .slider__slide:last-child{
      padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));
    }
  }
}

.slider-header {
  margin-left: 20px;
  @include adaptivMarginBottom(22, 14);
}

.slider__slide {
  display: flex;
  flex-direction: column;
  outline: none;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  @include adaptivLeftRightMargin(16, 8);
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.slider__slide-img {
  transition: ease 0.3s;
  border-radius: 20px;

  img {
    border-radius: 20px;
    height: 20vw;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease 0.3s;
  }
  @media (max-width: 1024px){
    height: 30vw;
    width: 100%;
    img{
      height: inherit;
      width: inherit;
    }
  }

  @media (max-width: 767px) {
    height: 261px;
    width: 261px;
    img{
      height: inherit;
      width: inherit;
    }
  }
}

.slider__slide-title {
  margin-left: 20px;
  margin-top: 16px;
}


.slider__slide-review {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 16px;

  .slider__rating {
    display: flex;
    align-items: center;

    span {
      margin-left: 4px;
      @include adaptivFont(18, 16);
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: $firsColor;
  }

  .slider__reviews {
    margin-left: 8px;
    text-decoration: underline;
    font-size: 18px;
  }
}

.slider__slide-desc p {
  @include adaptivFont(18, 16);
  margin-left: 20px;
  margin-top: 16px;
  line-height: 120%;
}

.slider__controls {
  .slider__next-button {
    width: 64px;
    height: 64px;
    border: 5px solid #ffffff;
    border-radius: 100%;
    background: $secondColor;
    cursor: pointer;
    position: absolute;
    top: calc(10vw - 32px);
    right: -35px;

    svg {
      position: absolute;
      left: calc(50% - 13px);
      top: calc(50% - 13px);
      height: 26px;
      width: 26px;
      fill: white;
      transform: rotate(180deg);
    }
  }

  .slider__prev-button {
    position: absolute;
    top: calc(10vw - 32px);
    left: -35px;
    width: 64px;
    height: 64px;
    border: 5px solid #ffffff;
    border-radius: 100%;
    background: $secondColor;
    cursor: pointer;


    svg {
      position: absolute;
      left: calc(50% - 13px);
      top: calc(50% - 13px);
      height: 26px;
      width: 26px;
      fill: white;
    }
  }

  @media (max-width: 1024px) {
    .slider__prev-button {
      left: -20px;
    }
    .slider__next-button {
      right: -20px;
    }

    .slider__prev-button,
    .slider__next-button {
      top: calc(10vw + 24px);
      width: 32px;
      height: 32px;
      border: 3px solid #ffffff;

      svg {
        left: calc(50% - 8px);
        top: calc(50% - 8px);
        height: 16px;
        width: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  .slider__prev-button,
  .slider__next-button {
    display: none;
  }
}
.slider__next-button,
.slider__prev-button {
  transition: ease 0.3s;

  &:hover {
    border-color: $firsColor;
  }
}