div.slider
    div.slider__slides
        a(href="/single-page.html").slider__slide.post-hover
            div.slider__slide-img
                img(src="/image/slider-2.jpg")
            div.slider__slide-title
                h3 Государственный историко-мемориальный музей-заповедник Сталинградская битва
            div.slider__slide-review
                div.slider__rating
                    +icon("star")
                    span 5
                div.slider__reviews отзывы — 3
            div.slider__slide-desc
                p Памятники и статуи, Культурные объекты и достопримечательности
        a(href="#").slider__slide.post-hover
            div.slider__slide-img
                img(src="/image/slider-1.jpg")
            div.slider__slide-title
                h3 Скульптура Родина-Мать зовет
            div.slider__slide-review
                div.slider__rating
                    +icon("star")
                    span 5
                div.slider__reviews отзывы — 3
            div.slider__slide-desc
                p Памятники и статуи, Культурные объекты и достопримечательности
        a(href="#").slider__slide.post-hover
            div.slider__slide-img
                img(src="/image/slider-2.jpg")
            div.slider__slide-title
                h3 Государственный историко-мемориальный музей-заповедник Сталинградская битва
            div.slider__slide-review
                div.slider__rating
                    +icon("star")
                    span 5
                div.slider__reviews отзывы — 3
            div.slider__slide-desc
                p Памятники и статуи, Культурные объекты и достопримечательности
        a(href="#").slider__slide.post-hover
            div.slider__slide-img
                img(src="/image/slider-1.jpg")
            div.slider__slide-title
                h3 Скульптура Родина-Мать зовет
            div.slider__slide-review
                div.slider__rating
                    +icon("star")
                    span 5
                div.slider__reviews отзывы — 3
            div.slider__slide-desc
                p Памятники и статуи, Культурные объекты и достопримечательности

    .slider__controls
        .slider__next-button
            +icon("arrow")
        .slider__prev-button
            +icon("arrow")