extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section5icon.png')

block content
    div.scrollSection__contentWrap.sc5
        div.scrollSection__textBlockWrap
            .overflow
                p.scrollSection__boldText Команда профессионалов
            p.scrollSection__caption Работаем на 9 языках программирования, поэтому под сложные задачи разрабатываем кастомные решения.
        div.scrollSection__imgWrap4
            img(src='image/sections/section5img1.png').scrollSection__img.img1



