extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section2icon.png')

block content
    div.scrollSection__contentWrap.sc2
        div.scrollSection__textBlockWrap
            div.overflow
                p.scrollSection__boldText Полноценный IT-отдел
            p.scrollSection__caption Работая с нами, вы получаете полноценный IT-отдел по цене одного специалиста.
        div.scrollSection__imgWrap1
            img(src='image/sections/section2img1.png').scrollSection__img.img1
            img(src='image/sections/section2img2.png').scrollSection__img.img2


