extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section3icon.png')

block content
    div.scrollSection__contentWrap
        div.scrollSection__textBlockWrap
            p.scrollSection__boldText Вовлечение в бизнес-процесс
            p.scrollSection__caption В любой задаче мы изучаем весь бизнес-процесс и создаем комплексное решение с учетом всех звеньев вашей компании. Мы не закрываем разовые задачи, мы выстраиваем эффективную работающую систему IT.
        div.scrollSection__imgWrap4
            img(src='image/sections/section3img1.png').scrollSection__img.img1



