extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section7icon.png')

block content
    div.scrollSection__contentWrap
        div.scrollSection__textBlockWrap
            p.scrollSection__boldText Наши клиенты
            p.scrollSection__caption Компании, которые доверяют нам разработку и развитие своих проектов




