extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section1icon.png')

block content
    div.sc1
        div.overflow
                h2.scrollSection__titleBig Почему работать с нами выгодно?