extends ../scrollSection/scrollSection

block icon
    img(src='image/sections/section4icon.png')

block content
    div.scrollSection__contentWrap.sc4
        div.scrollSection__textBlockWrap
            .overflow
                p.scrollSection__boldText Честность
            p.scrollSection__caption Настраиваем только нужные интеграции для эффективной работы CRM и сайта под ваш запрос.
        div.scrollSection__imgWrap3
            img(src='image/sections/section4img1.png').scrollSection__img.img1
            img(src='image/sections/section4img2.png').scrollSection__img.img2



