$h1: 1rem;
$h2: 0.87rem;
$h3: 0.43rem;
$textSize: 0.313rem;
$btnSize: 0.435rem;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');

a, button, li, span, p, h1, h2, h3, h4, h5, h6, div, input, textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.h1Bold {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.fbutton{
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

