$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}
@mixin adaptivMargin($pcMargin, $mobMargin) {
  $addMargin: $pcMargin - $mobMargin;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
}

.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}

.breadcrumbs__link{
  color: $secondColor;
  font-size: 14px;
  transition: ease 0.3s;
  cursor: pointer;

  &:hover{
    color: $firsColor;
    text-decoration: underline;
  }
}

.breadcrumbs__sep{
  height: 5px;
  width: 5px;
  background: $firsColor;
  border-radius: 100%;
  @include adaptivMargin(16,8);
}

.breadcrumbs__link-container{
display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs__link-current{
  color: $firsColor;
  font-size: 14px;
}