div.breadcrumbs
    a(href="#").breadcrumbs__link Здесь
    span.breadcrumbs__sep
    a(href="#").breadcrumbs__link будут
    span.breadcrumbs__sep
    a(href="#").breadcrumbs__link хлебные
    span.breadcrumbs__sep
    div.breadcrumbs__link крошки