extends ../../scrollSection/scrollSection

block bg
    img(src='image/sections/section6bg.svg').sc6__bg

block icon
    img(src='image/sections/section6icon.png')

block content
    div.sc6
        div.sc6__titleWrap
            p.sc6__title Какие задачи мы решаем?
            div.sc6__buttons
                +linkButton("Рассчитать стоимость услуг",'#')
                +linkButtonThin("Задайте вопрос в мессенджере",'#')
        div.sc6__cardsWrap
            div.col1
                div.card1.card
                    p.title Создание сайтов и мобильных приложений
                    p.text Отрисовываем прототип сайта с учетом эффективного маркетинга и продаж, верстаем сайт на современных платформах, разрабатываем дизайн, создаем адаптивную верстку сайта под все устройства, программируем все элементы и виджеты, подключаем к CRM
                div.card2.card
                    p.title 1С
                    p.text Настраиваем и подключаем 1С и 1С Бухгалтерию, обеспечиваем техническое обслуживание 1С, перенос данных, переустановку лицензий, обновления и любые доработки по 1С.
            div.col2
                div.card3.card
                    p.title Обслуживание и сопровождение сайта
                    p.text Администрируем сайт, устраняем ошибки, интегрируем сервисы
                div.card4.card
                    p.title Внедрение и настройка CRM «с нуля»
                    p.text Подбираем эффективную CRM с учетом вашего бюджета/ниши и настраиваем ее, эффективно распределяем задачи и звонки между сотрудниками, подключаем телефонию, смс/емэйл сервисы, настраиваем CRM маркетинг и аналитику для отслеживаниā эффективности рекламных каналов , создаем и автоматизируем отчеты для руководителя/сотрудников



