include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            +pageTitle("О проекте")
            div.about
                div.about__block
                    a(data-fancybox="about-gallery" href="/image/about/about-1.jpg").about__img.about__img_main
                        img(src="/image/about/about-1.jpg")
                    div.about__text.about__text_center
                        p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития.
                        p Товарищи! сложившаяся структура организации требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
                        p Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации направлений прогрессивного развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас анализа новых предложений.
                div.about__block.about__block_horizontal
                    a(data-fancybox="about-gallery" href="/image/about/about-2.jpg").about__img
                        img(src="/image/about/about-2.jpg")
                    div.about__text
                        p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития.
                        p Товарищи! сложившаяся структура организации требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
                div.about__block.about__block_horizontal
                    div.about__text
                        p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития.
                        p Товарищи! сложившаяся структура организации требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации.
                    a(data-fancybox="about-gallery" href="/image/about/about-2.jpg").about__img
                        img(src="/image/about/about-2.jpg")
            +addSlider("Рекомендуем посмотреть")
            include ../blocks/subscribe/subscribe
            +addSlider("Последние добавленные туры")
        include ../blocks/footer/footer.pug