include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            +pageTitle("Памятник-ансамбль «Героям Сталинградской битвы» на Мамаевом кургане")
            div.blog-content-category
                span Рубрика
                div.blog-content-category-tag
                    +icon("tag")
                    p История
            .blog-content
                a(data-fancybox='gallery' href='/image/slider-1.jpg').blog-content__main-img
                    img(src='/image/slider-1.jpg')
                p.blog-content__text Главной культурной ценностью и гордостью города-героя Волгограда является историко-мемориальный комплекс «Героям Сталинградской битвы» на Мамаевом кургане. <br> <br>Сегодня Мамаев курган — одна из господствующих над Волгоградом высот. По легенде, во времена правления хана Мамая с этих высот монгольские стражники контролировали движение судов по Волге, что послужило одной из версий названия холма. В 1942-1943 гг. Мамаев курган стал местом ожесточенных боев между оборонявшими Сталинград советскими войсками и солдатами наступавшей 6-й армии вермахта, стремившихся овладеть стратегически важной «высотой 102.0», с которой открывалась отчетливая панорама на северную и южную часть города, а также на Заволжье, откуда в горящий город переправлялись части Красной армии. Защитники Сталинграда, прекрасно понимая значение кургана, уже тогда стали называть его «главной высотой России», и, клятвенно произнося знаменитые приказы и лозунги «Ни шагу назад!», «Стоять насмерть!», «За Волгой для нас земли нет!», останавливали натиск врага и шли на него в атаку. Склоны кургана были перепаханы пулями, минами и снарядами, на квадратный метр приходилось от 500 до 1500 осколков, а его земля была настолько обожжена огнем и смешана с металлом, что несколько лет подряд после битвы от подножья до вершины не могла прорасти даже трава. За 200 дней и ночей в боях за Сталинград пали сотни тысяч советских бойцов, в память об их героическом подвиге было решено соорудить на вершине кургана величественный монумент, олицетворявший стойкость и мужество защитников города, а также его значение в ходе войны. <br> <br>Строительство грандиозного памятника-ансамбля на Мамаевом кургане началось в 1959 году. За 8 лет под руководством скульптора Е.В. Вучетича на восточном склоне кургана возвели ряд скульптур и барельефов, полностью созданных из бетона. Венчает главную высоту России 85-метровый монумент «Родина-мать зовет!». Торжественное открытие памятника-ансамбля состоялось 15 октября 1967 года. <br> <br>В 2008 году Мамаев курган вошел в число «Семи российских чудес света».
            +addSlider("Рекомендуем посмотреть")
            include ../blocks/subscribe/subscribe
        include ../blocks/footer/footer.pug