include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            +pageTitleBuyTour("Заказать тур")
            div.buy-tour-content
                div.buy-form
                    h3 О вас
                    div(id="name").buy-form__about_client-input
                        input
                    div(id="company_name").buy-form__about_client-input
                        input
                    div(id="email").buy-form__about_client-input
                        input
                    div(id="phone").buy-form__about_client-input
                        input
                    h3 Задача
                    div(id="text").buy-form__task
                        textarea
                    div(id="captcha").buy-form__about_client-input
                        input(name = "captcha_word")
                    div(id='buy-form__send-btn').buy-form__send-btn.not-active
                        input(type='submit' value = 'Отправить')
                    div.buy-form__desc
                        span Нажимая на кнопку «Отправить заявку», вы даёте согласие на
                        a(href='') обработку своих персональных данных.
                div.buy-tour-content__img
                    img(src='image/buy-tour.png')
            +addSlider("Рекомендуем посмотреть")
            include ../blocks/subscribe/subscribe
            +addSlider("Последние добавленные туры")
        include ../blocks/footer/footer.pug