include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            +pageTitle("Контакты")
            div.contacts
                div.contacts__info
                    h2 Как с нами можно связаться?
                    a(href="#").contacts__item
                        +icon('map-point-icon')
                        span Ворошиловский район, ул. Рабоче - Крестьянская, 18, Волгоград 400074 Россия
                    a(href="#").contacts__mobile-map
                        +icon('map-point-icon')
                        span Посмотреть на карте
                    a(href="#").contacts__item
                        +icon('phone-icon')
                        span 8 (844) 243-54-35
                    a(href="#").contacts__item
                        +icon('web-icon')
                        span.contacts__item_underline Перейти на сайт
                    a(href="#").contacts__item
                        +icon('mail-icon')
                        span.contacts__item_underline reception@hotelug.ru
                    div.contacts__button
                        +linkButton("Заказать 3D тур","#")
                div.contacts__img
                    img(src="image/contacts.png")
            +addSlider("Рекомендуем посмотреть")
            include ../blocks/subscribe/subscribe
            +addSlider("Последние добавленные туры")
        include ../blocks/footer/footer.pug