include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            +pageTitle("Для бизнеса")
            div.for-business
                div.for-business__title-img
                    img(src="/image/for-business-1.png")
                div.for-business__info-block.for-business__info-block_center
                    h3.for-business__subtitle Почему Вам нужен виртуальный тур?
                    p.for-business__text – Он не имеет ничего общего с навязчивой рекламой, это приглашение посетить вас, гарантированно повышающее доверие потребителя. Выигрышно отделит Вас от конкурентов. <br>– Это зрелищно, наглядно, красиво, необычно и интересно для широкой Интернет-аудитории. <br>– Высока вероятность того, что после онлайн-прогулки, человек обязательно захочет посмотреть все «вживую».
                div.for-business__columns
                    div.for-business__info-block
                        h3.for-business__subtitle Почему выгодно заказывать виртуальный тур именно у нас?
                        p.for-business__text Мы популярны. Созданный нами сайт имеет многочисленную ежемесячную аудиторию, которая постоянно растет. Посетители сайта – в 99 % случаев люди, ищущие конкретную услугу или товар, но еще не определившиеся с местом, где их можно получить. Это значит, что они – ваши потенциальные покупатели! <br><br>Имеем богатейший опыт. В 2011 году мы были первыми в регионе, кто начал заниматься виртуальными турами. Нам доверяют. Мы сделали сотни проектов, в том числе для известных мировых брендов и крупных организаций, многие из которых стали нашими постоянными заказчиками. <br><br>Профессионализм. В нашем распоряжении лучшее оборудование и слаженно работающая команда опытных специалистов. Маркетинг. Мы не только создаем качественный продукт, но и прикладываем все усилия, чтобы эффективно донести до целевой аудитории информацию о вашем предложении. Индивидуальность. Мы настраиваем свою работу конкретно под ваш вид бизнеса, внимательно изучаем ваши предпочтения.
                        +linkButton("Заказать 3D тур", "#")
                    div.for-business__title-img
                        img(src="/image/for-business-2.png")
                div.for-business__info-block
                    h3.for-business__subtitle Компании, доверившие нам создание 3D-тура
                    div.for-business__slider
                        div.for-business__slides
                            .for-business__slider-slide
                                img(src="/image/companies/comp-1.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-2.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-3.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-4.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-5.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-6.png")
                            .for-business__slider-slide
                                img(src="/image/companies/comp-2.png")

                        .for-business__slider-controls
                            .for-business__slider-next-button
                                +icon("arrow")
                            .for-business__slider-prev-button
                                +icon("arrow")

            +addSlider("Рекомендуем посмотреть")
            include ../blocks/subscribe/subscribe
            +addSlider("Последние добавленные туры")
        include ../blocks/footer/footer.pug