include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            include ../blocks/hero/hero
            include ../blocks/sections/Section1
            include ../blocks/sections/Section2
            include ../blocks/sections/Section3
            include ../blocks/sections/Section4
            include ../blocks/sections/Section5
            include ../blocks/sections/Section6/Section6
            include ../blocks/sections/Section7

        include ../blocks/footer/footer.pug