include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug

        include ../blocks/footer/footer.pug