include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            div.single-category-pageTitle
                +pageTitleCategory('Волгоград: Отели')

            div.single-category-container
                div.sin-cat-cont__filter
                    div(id='btnMobileFilter' check-mobile-filter="close").sin-cat-cont__filter-mobile-btn
                        +icon("filter-icon")
                        p Фильтр
                    div.sin-cat-cont__filter-body
                        include ../blocks/sidebar/sidebar
                div.sin-cat-cont__block
                    div.sin-cat-cont__list-item-filter
                        div.sin-cat-cont__list-item-filter-title Фильтр:
                        div.sin-cat-cont__list-item-filter-name
                            p Spa
                        div.sin-cat-cont__list-item-filter-name
                            p Spa
                        div.sin-cat-cont__list-item-filter-name
                            p Spa
                        div(id='resetFilterCatalog').sin-cat-cont__list-item-filter-close
                            +icon("close")
                            p Сбросить фильтр
                    div.sin-cat-cont__list-item
                        - var n = 0;
                        while n < 6
                            a(href="#").catalog__post-link.post-hover
                                .catalog__post-img
                                    img(src="/image/slider-1.jpg")
                                .catalog__post-info
                                    h3.catalog__post-title Памятник-ансамбль «Героям Сталинградской битвы» на Мамаевом кургане
                                    div.catalog__post-rating-reviews
                                        div.catalog__post__rating
                                            +icon("star")
                                            span 5
                                        div.catalog__post__reviews отзывы — 3
                                    p.catalog__post-text Главной культурной ценностью и гордостью города-героя Волгограда является историко-мемориальный комплекс «Героям Сталинградской битвы» на Мамаевом кургане.Сегодня Мамаев курган — одна из господствующих над Волгоградом высот. По легенде, во времена правления хана Мамая с этих высот монгольские стражники контролировали движение судов по Волге, что послужило одной из версий названия холма.
                                    div.catalog__post-tags
                                        div.catalog__post-tag
                                            div(style = "background: url(/image/slider-1.jpg)").catalog__post-tag-icon
                                            span Название тэга
                                        div.catalog__post-tag
                                            +icon("tag")
                                            span Название тэга
                                        div.catalog__post-tag
                                            +icon("tag")
                                            span Название тэга
                                        div.catalog__post-tag
                                            +icon("tag")
                                            span Название тэга
                            -n++
                        include ../blocks/pagination/pagination.pug
            +addSlider("Рекомендуем посмотреть")
        include ../blocks/footer/footer.pug