include ../blocks/mixins/mixins.pug

doctype html
html(lang="ru-RU")
    include ../blocks/head/head.pug
    body
        div.container
            include ../blocks/header/header.pug
            include ../blocks/breadcrumbs/breadcrumbs
            div.single-place
                .single-place__short-info
                    .single-place__info
                        .single-place__short-info-title
                            h1 Отель "Южный"
                            .single-place__rating-block
                                .single-place__rating-wrap
                                    .single-place__rating
                                        +icon("star")
                                        span 5
                                    a(href="#single-place__reviews").single-place__review-counter отзывы — 6
                                .single-place__price
                                    +icon("coin")
                                    p от 1000 ₽ до 5000 ₽
                                    div.single-place__price-info-cont
                                        p ₽ - дешевый, ₽₽ - средний ценовой сегмент, ₽₽₽ - дорогой, ₽₽₽₽+ - очень дорогой
                                        p Цены указаны относительно других заведений в данной категории, а не относительно всех цен.
                                    +icon("info-button")
                            p.single-place__text Отель «Южный» - современный демократичный отель в центре Волгограда.
                        .single-place__short-info-review
                            h3 Что говорят путешественники
                            .single-place__short-review
                                +icon("pin")
                                p “Удобное расположение. В шаговой доступности все объекты городской инфраструктуры. Прекрасный шведский стол. Чистота и уют в номерах. Отзывчивый персонал. Рекомендую всем приезжающим в командировку в Волгоград”
                        .single-place__short-info-socials
                            h3 Социальные сети
                            .single-place__socials
                                +linkButton("Перейти на сайт", "#")
                                .single-place__social-list
                                    a(href="#", style='display:none')
                                        +icon("vk-new")
                                    a(href="#", style='display:none')
                                        +icon("f-new")
                                    a(href="#")
                                        +icon("inst-new")
                                    a(href="#")
                                        +icon("t-new")
                        .single-place__views-share
                            .single-place__views
                                +icon("views")
                                span 50
                            a(href="#").single-place__share
                                +icon("share")
                                span Поделиться
                                div.single-place__share-popup

                    .single-place__tour
                    div.single-place__show-tour-mob-btn
                        .single-place__show-tour
                            span Показать 3D тур
                        a(href="#").single-place__map-mob-btn-link
                            div.single-place__map-mob-link
                                +icon('map-point-icon')
                                span Посмотреть на карте
                .single-place__desc
                    .single-place__desc-block.single-place__desc-block_expand
                        h3.single-place__desc-block-title О нас
                        div.single-place__desc-text-wrapper
                            p Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.Отель «Южный» - современный демократичный отель в центре Волгограда.
                        div.single-place__show-more
                            +icon("bookmark")
                            span Подробнее
                    div.single-place__desc-block-characteristics
                        .single-place__desc-block
                            h3.single-place__desc-block-title Контактная информация
                            div.single-place__desc-options.single-page-contacts-inf
                                div.single-place__option
                                    div.single-place__option-icon
                                        +icon("map-point-icon")
                                    span Ворошиловский район, ул. Рабоче - Крестьянская, 18, Волгоград 400074 Россия
                                a(href='tel:+7 (844) 243 54 35').single-place__option
                                    div.single-place__option-icon
                                        +icon("phone-icon")
                                    span 8 (844) 243-54-35
                                a(href='mailto:reception@hotelug.ru').single-place__option.single-page-email
                                    div.single-place__option-icon
                                        +icon("mail-icon")
                                    span reception@hotelug.ru
                                a(href='vk.com').single-place__option.single-page-link
                                    div.single-place__option-icon
                                        +icon("web-icon")
                                    span Перейти на сайт
                        .single-place__desc-block
                            h3.single-place__desc-block-title Название блока
                            div.single-place__desc-options
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                        .single-place__desc-block
                            h3.single-place__desc-block-title Название блока
                            div.single-place__desc-options
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                        .single-place__desc-block
                            h3.single-place__desc-block-title Название блока
                            div.single-place__desc-options
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                        .single-place__desc-block
                            h3.single-place__desc-block-title Название блока
                            div.single-place__desc-options
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции
                                div.single-place__option
                                    +icon("pin")
                                    span Название опции

                .single-place__map
                    h2.single-place__block-title Местоположение
                    div(id="single-map").single-place__map-box
                .single-place__gallery
                    a(data-fancybox='gallery' href='/image/slider-1.jpg').show-all-city-image
                        +icon("show-all-image-icon")
                        p Показать все фотографии
                    a(data-fancybox='gallery' href='/image/slider-1.jpg').single-place__gallery-item.single-place__gallery-item-first
                        img(src='/image/slider-1.jpg')
                    .single-place__gallery-small-grid
                        a(data-fancybox='gallery' href='/image/slider-1.jpg').single-place__gallery-item
                            img(src='/image/slider-1.jpg')
                        a(data-fancybox='gallery' href='/image/slider-1.jpg').single-place__gallery-item
                            img(src='/image/slider-1.jpg')
                        a(data-fancybox='gallery' href='/image/slider-1.jpg').single-place__gallery-item
                            img(src='/image/slider-1.jpg')
                        a(data-fancybox='gallery' href='/image/slider-1.jpg').single-place__gallery-item
                            img(src='/image/slider-1.jpg')
                +addSlider("Вам также может понравиться")
                .single-place__reviews(id= 'single-place__reviews')
                    .single-place__wrap
                        h2.single-place-block-header Отзывы
                        .single-place__leave-review
                            .single-place__review-submit
                                +icon('pen')
                                span Написать отзыв
                            .single-place__review-form.form

                                .form__row
                                    .form__row-title Ваш общий рейтинг для этого объекта
                                    div.form__row-review
                                        div.form__row-review-stars
                                            img(src='image/star.svg')
                                            img(src='image/star.svg')
                                            img(src='image/star.svg')
                                            img(src='image/star.svg')
                                            img(src='image/star.svg')
                                        div.form__row-review-info
                                            p Нажмите, чтобы оценить
                                            img(src='image/arrow-review.png')
                                .form__row
                                    .form__row-title Ваше имя
                                    input(type='text' placeholder="Напишите как вас зовут")
                                .form__row
                                    .form__row-title Заголовок Вашего отзыва
                                    input(type='text' placeholder="Опишите кратко свою поездку или какую-либо интересную деталь")
                                .form__row
                                    .form__row-title Когда вы посетили этот объект?
                                    input(type='text' placeholder="10.10.2020")
                                .form__row
                                    .form__row-title Ваш отзыв
                                    textarea(placeholder="Расскажите другим путешественникам о своих впечатлениях, о местоположении и удобствах.")
                                button(type='submit') Отправить
                        .single-place__reviews-wrap
                            - var n = 0;
                            while n < 6
                                .single-place__review
                                    .single-place__review-first-row
                                        .single-place__review-name Имя
                                        .single-place__review-published написал(а) отзыв 20.11.2020
                                    .single-place__review-second-row
                                        span.single-place__review-rating-prev Поставил(а) оценку
                                        .single-place__review-rating
                                            +icon('star')
                                            span 5
                                    h3.single-place__review-title Заголовок отзыва
                                    p.single-place__review-text Год назад был в этом отеле, оставил отзыв, по невнимательности отметил один кружок, хотя собирался поставить пять (отлично). Извините, пожалуйста. Отель отличный! Понравились плотные шторы в номере, кондиционер, кухня в ресторане на втором этаже, особенно хорош был кофе. В общем моя низкая оценка - результат недоразумения. Было комфортно. Да, расположение отличное! Старый отзыв удалил, публикую новый. Всех благ и процветания!
                                    .single-place__review-date-row
                                        .single-place__review-date.single-place__review-date_bold Дата пребывания
                                        .single-place__review-date сентябрь 2020 г.
                                -n++

                            .single-place__review.no-comment
                                +icon("chat")
                                h3 Отзывов еще нет. Можешь добавить свой.

                            include ../blocks/pagination/pagination
                    .single-place__vector
                        img(src="/image/reviews.png")
            include ../blocks/subscribe/subscribe
        include ../blocks/footer/footer.pug