include ../mixins/mixins

div.hero.globalPadding
    div.hero__bg
        img(src='image/herobg.png')
    div.hero__content
        h2.h1Bold.hero__title Решение любых задач по сайту, CRM и 1С: от настройки до продвижения.
        p.caption.hero__caption Решение любых задач по сайту, CRM и 1С: от настройки до продвижения.
        +linkButton('Посмотреть кейсы', '#')
    div.hero_arrow
        img(src='image/arrow.png')
