div.sc__wrap.globalPadding
    div.sc__bg
        block bg
    div.scrollSection
        div.scrollSection__content
            div.scrollSection__contentAlign
                div.scrollSection__icon
                    block icon
                block content

