.sc__wrap {
  box-sizing: border-box;
  position: relative;
}


.scrollSection {
  height: 200vh;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding-top: 128px;
  padding-bottom: 128px;

  .scrollLine {
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    background: #8d8e9b;
    opacity: .5;
    mix-blend-mode: difference;

  }


  .scrollSection__icon {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    margin-right: 40px;
    background: white;
    align-self: flex-start;
    flex-shrink: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .scrollSection__contentAlign {
    display: flex;
    width: 100%;
  }

  .scrollSection__content {
    position: sticky;
    display: flex;
    height: 80vh;
    align-items: center;
    top: 10vh;
    margin-top: 8px;
    width: 100%;

  }
}

//SECTION 1
.scrollSection__titleBig {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}


.scrollSection__contentWrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;


  .scrollSection__textBlockWrap {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    width: max-content;
    padding: 8px;
    border-radius: 6px;
    backdrop-filter: blur(10px);


    .scrollSection__boldText {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
    }

    .scrollSection__caption {
      max-width: 440px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      margin-top: 12px;
      color: #989898;
    }


  }

  .scrollSection__img {
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    z-index: -1;

    max-width: 480px;
    max-height: 320px;
  }


  .scrollSection__imgWrap1 {
    .img1 {
      position: absolute;
      right: 0;
      top: -20vh;
    }

    .img2 {
      position: absolute;
      right: 20%;
    }
  }

  .scrollSection__imgWrap3 {
    .img1 {
      position: absolute;
      right: 5%;
      top: -20vh;
    }

    .img2 {
      position: absolute;
      right: 0;
    }
  }

  .scrollSection__imgWrap4 {
    .img1 {
      position: absolute;
      right: 0;
      top: -10vh;
    }
  }
}

.scrollSection__team {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;


  .team__wrap {
    width: 200px;
    height: 380px;
    border-radius: 10px;
    position: relative;
    display: flex;
    background: #0C0F15;
    margin-right: 20px;
    overflow: hidden;
    transition: .3s;
    margin-top: 20px;

    &.active {
      width: 480px;

      .team__photo {
        filter: grayscale(0);
      }
    }

    .team__photoWrap {
      width: 200px;
      position: relative;
      flex-shrink: 0;
      cursor: pointer;

      .team__photo {
        height: 100%;
        width: 100%;
        object-fit: cover;

        filter: grayscale(1);
        transition: .3s;
      }

      .team__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-shadow: 0 0 10px #000000;
        padding: 20px;
        box-sizing: border-box;
        color: white;
        position: absolute;
        bottom: 0;
      }
    }

    .team__infoWrap {
      width: 280px;
      padding: 20px;
      box-sizing: border-box;
      flex-shrink: 0;

      .team__links {
        margin-top: 20px;
        display: flex;

        .team__link {
          margin-right: 14px;
        }
      }

      .team__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: white;
        margin-top: 20px;
        margin-bottom: 8px;
      }

      .team__job {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;
        color: white;
      }

      .team__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: white;
      }
    }
  }
}


