include ../mixins/mixins.pug


div.footer
    div.block1
        img(src='image/footerBG.svg').block1BG
        div.b1__textWrap
            div.b1__titleWrap
                p.b1__textbig Свяжитесь с нами
                    p.b1__text Остались вопросы? <br>Скорее набирай и мы поможем создать <br> лучшие бизнес-процессы.
            a(href='#').b1__textWithicon
                img(src='image/msg.svg').b1__icon
                p.b1__text go@it-d.online
            a(href='#').b1__textWithicon
                img(src='image/phone.svg').b1__icon
                p.b1__text +7(495) 799-00-65
        div.b1__form
            div.footer__inputWrap
                p.input__title Имя
                input(id='fName').footer__input
            div.footer__inputWrap
                p.input__title Email
                input(id='fEmail').footer__input
            div.footer__inputWrap
                p.input__title Комментарий
                textarea(id='fText' ).footer__input
            div.footer__inputWrap.btn
                +linkButton('Отправить', '#')

    div.block2
        div.b2__line1
            a(href='#').b2__logo
                img(src='image/logo.png')
            div.b2__navs
                a.b2__nav О нас
                a.b2__nav Услуги
                a.b2__nav Кейсы
                a.b2__nav Команда
            div.b2__links
                a(href='#').b2_link
                    img(src='image/sections/vk.png')
                a(href='#').b2_link
                    img(src='image/sections/tg.png')
        div.line-gap
        div.b2__line2
            p.line2__text 2022 IT-Direktor. Все права защищены.
            a(href="#").line2__text Политика конфиденциальности
            a(href="#").line2__text Условия пользования
            a(href="#").line2__text Cookies




script(src='js/lib/jquery.min.js')
script(src='js/lib/slick.min.js')
script(src='js/lib/swiper-bundle.min.js')
script(src='js/lib/jquery.fancybox.min.js')
script(src='js/lib/leaflet.js')
script(src='js/lib/leaflet-gesture-handling.min.js')
script(src='js/lib/leaflet.markercluster.js')
script(src='js/lib/wow.min.js')
script(src='js/lib/jquery.maskedinput.min.js')

script(src='js/lib.min.js?v=1.15')
