include ../mixins/mixins.pug

div.goToTop
    +icon('arrow')

div.footer
    a(href="/").f-logo__link
        img(src='image/logo.png')
    ul.f-menu__first.f-list-menu
        li
            a(href="#").f-menu__link Главная
        li
            a(href="#").f-menu__link Виртуальный тур
        li
            a(href="#").f-menu__link Блог
        li
            a(href="#").f-menu__link Волгоград сверху
    ul.f-menu__second.f-list-menu
        li
            a(href="#").f-menu__link Для бизнеса
        li
            a(href="#").f-menu__link О проекте
        li
            a(href="#").f-menu__link Карта города
        li
            a(href="#").f-menu__link Контакты
    div.f-img
        img(src='image/footer-img.png')
    div.f-coop
        +linkButton("Сотрудничество", "#")
        div.f-social-link
            a(href="#")
                +icon("vk-new")
            a(href="#")
                +icon("f-new")
            a(href="#")
                +icon("inst-new")
            a(href="#")
                +icon("t-new")
        a(href="#").f-menu__link Карта сайта
        p.f-text Разработано в
            a(href="#").f-menu__link lo — cus agency
    div.f-copyright © Волгоград 360, 2020 г. Все права защищены



script(src='js/lib/jquery.min.js')
script(src='js/lib/slick.min.js')
script(src='js/lib/jquery.fancybox.min.js')
script(src='js/lib/leaflet.js')
script(src='js/lib/leaflet-gesture-handling.min.js')
script(src='js/lib/leaflet.markercluster.js')
script(src='js/lib/wow.min.js')
script(src='js/lib/jquery.maskedinput.min.js')
script(src='js/lib.min.js?v=1.15')