.footer {
  display: flex;
  flex-direction: column;

  .block1 {
    width: 100%;
    position: relative;
    height: 800px;
    padding: 128px 254px 0 254px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .block1BG {
      position: absolute;
      left: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      background: #0C0F15;
      z-index: -1;
      object-position: bottom;
    }

    .b1__textWrap {

      .b1__titleWrap {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
      }

      .b1__textbig {
        font-weight: 900;
        font-size: 36px;
        line-height: 120%;
        margin-bottom: 24px;
      }

      .b1__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
      }

      .b1__textWithicon {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .b1__icon {
          height: 24px;
          width: 24px;
          object-fit: contain;
          margin-right: 16px;

        }
      }


      p {
        color: white;
      }
    }
  }

  .block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 128px;

    background: #2F253F;


    .b2__line1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;


      .b2__navs {
        display: flex;
        align-items: center;

        .b2__nav {
          color: white;
          font-weight: 300;
          font-size: 16px;
          line-height: 150%;
          transition: .3s;
          cursor: pointer;

          &:hover {
            transform: translateY(-3px);
          }

          &:not(:last-child) {
            margin-right: 32px;
          }
        }
      }

      .b2__links {
        display: flex;
        align-items: center;

        .b2_link {
          margin-left: 12px;

          img {
            height: 24px;
            width: 24px;

            object-fit: contain;
          }
        }
      }
    }

    .line-gap {
      margin-top: 40px;
      margin-bottom: 40px;
      background: white;
      height: 1px;
      width: 100%;
    }

    .b2__line2 {
      display: flex;
      align-items: center;

      .line2__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: white;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }

  }
}

.b1__form {
  display: flex;
  flex-direction: column;
  width: 660px;
  margin-left: 40px;

  .footer__inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &.btn{
      width: max-content;
    }

    .input__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: white;
      margin-bottom: 8px;
    }

    textarea{
      height: 180px;
    }

    .footer__input{
      width: 100%;
      border-radius: 6px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      padding: 12px;
      resize: none;
    }
  }
}
