$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivPadding($pcPad-top-bottom,
$pcPad-left-right,
$mobPad-top-bottom,
$mobPad-left-right,) {
  $addPad-top-bottom: $pcPad-top-bottom - $mobPad-top-bottom;
  $addPad-left-right: $pcPad-left-right - $mobPad-left-right;
  $maxWidth: 1920 - 375;
  padding-top: calc(#{$mobPad-top-bottom + px} + #{$addPad-top-bottom} * ((100vw - 375px) / #{$maxWidth}));
  padding-bottom: calc(#{$mobPad-top-bottom + px} + #{$addPad-top-bottom} * ((100vw - 375px) / #{$maxWidth}));
  padding-left: calc(#{$mobPad-left-right + px} + #{$addPad-left-right} * ((100vw - 375px) / #{$maxWidth}));
  padding-right: calc(#{$mobPad-left-right + px} + #{$addPad-left-right} * ((100vw - 375px) / #{$maxWidth}));
}

.footer {
  @include adaptivPadding(64, 96, 16, 16);
  background: #F5F5F5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include adaptivGridGap(32, 16);
  border-radius: 20px 20px 0 0;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
  }
  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.f-logo__link {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 32px;
  font-weight: 900;

  img {
    width: 100%;
  }
}

.f-list-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-gap: 16px;

  li {
    display: flex;
  }
}

.f-menu__link {
  @include adaptivFont(24, 16);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.f-img {
  grid-column-start: 5;
  grid-column-end: 6;
  display: grid;
  justify-content: center;
  align-items: flex-end;

  img {
    margin-bottom: -100px;
  }

  @media (max-width: 1400px) {
    display: none;
  }
  @media (max-width: 1024px) {
    display: grid;
    grid-column-start: 2;
    img {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    img {
      margin-top: -100px;
      margin-bottom: 0;
    }
  }
  @media (max-width: 550px) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media (max-width: 550px) {
    order: 4;
  }
}

.f-coop {
  grid-column-start: 6;
  grid-column-end: 7;
  display: grid;
  grid-gap: 32px;
  text-align: right;

  .linkButton {
    justify-self: end;
    @media (max-width: 550px) {
      justify-self: center;
    }
  }

  @media (max-width: 767px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  @media (max-width: 550px) {
    order: 2;
    text-align: center;
  }
}

.f-copyright {
  grid-column-start: 1;
  grid-column-end: 7;
  font-weight: 500;
  font-size: 14px;
  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (max-width: 550px) {
    order: 3;
  }
}

.f-social-link {
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: $secondColor;
    transition: .3s;
    
    @media (max-width: 1400px) {
      padding: 5px;
    }

    &:hover {
      background: $firsColor;
    }
  }

  svg {
    width: 29px;
    height: 29px;
    fill: white;
    transition: ease 0.3s;
  }
}

.f-text {
  line-height: 120%;

  a {
    color: $firsColor;
    margin-left: 5px;
  }
}

.f-menu__first {
  grid-column-start: 3;
  grid-column-end: 4;
  @media (max-width: 1400px) {
    grid-column-start: 2;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.f-menu__second {
  grid-column-start: 4;
  grid-column-end: 5;
  @media (max-width: 1400px) {
    grid-column-end: 6;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.goToTop {
  position: fixed;
  background: $firsColor;
  bottom: 24px;
  right: 24px;
  border-radius: 100%;
  padding: 16px;
  box-shadow: 0px 22px 44px -12px rgba(77, 146, 234, 0.35);
  cursor: pointer;
  transition: ease 0.3s;
  display: none;

  svg {
    fill: white;
    height: 25px;
    width: 30px;
    transform: rotate(90deg);
  }

  &:hover {
    box-shadow: 5px 5px 0px #FF716E, 10px 10px 0px #EED682;
  }
}