include ../mixins/mixins.pug

div.goToTop
    +icon('arrow')

div.footer
    



script(src='js/lib/jquery.min.js')
script(src='js/lib/slick.min.js')
script(src='js/lib/jquery.fancybox.min.js')
script(src='js/lib/leaflet.js')
script(src='js/lib/leaflet-gesture-handling.min.js')
script(src='js/lib/leaflet.markercluster.js')
script(src='js/lib/wow.min.js')
script(src='js/lib/jquery.maskedinput.min.js')
script(src='js/lib.min.js?v=1.15')