$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;

@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivWidth($pcWidth) {
  width: calc((#{$pcWidth + px} / 1920) * 100%);
}

@mixin adaptivMarginBottom($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-bottom: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;

  .sidebar__filter-block {
    margin-bottom: 32px;
  }

  .sidebar__filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease 0.3s;

    h3 {
      font-size: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      flex: 5;
    }

    .sidebar__filter-title-icon-con {
      flex: 1;
      border-radius: 100%;
      transition: .3s;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      .sidebar__filter-title-icon {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $textColor;
        border-radius: 100%;
        transform: rotate(-90deg);
        transition: ease 0.3s;

        svg {
          height: 10px;
          width: 10px;
          fill: white;
        }
      }
    }

    &.active {
      .sidebar__filter-title-icon {
        transform: rotate(90deg);
      }
    }

    &:hover{
      .sidebar__filter-title-icon{
        background: $firsColor;
      }
    }
  }
}

.sidebar__filter-options {
  margin-top: 24px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  margin-left: 16px;
  margin-right: 16px;
}

.sidebar__filter-option-title,
.sidebar__filter-option {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sidebar__filter-option{
  transition: ease 0.3s;

  span:first-child{
    word-break: break-word;
    margin-right: 16px;
  }

  &:hover{
    color: $firsColor;
  }
}
.sidebar__filter-option-label {
  display: flex;
  align-items: center;

  input {
    margin: 0 16px 0 0;
  }
}

.sidebar__filter-accept {
  font-weight: 500;
  font-size: 24px;
  background: $firsColor;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 22px 44px -12px rgba(77, 146, 234, 0.35);
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  transition: ease 0.3s;
  cursor: pointer;

  p {
    color: white;
  }

  &:hover {
    box-shadow: 5px 5px 0px $secondColor, 10px 10px 0px #EED682;
    transform: translate(-10px, -10px);
  }
}