include ../mixins/mixins.pug

div.sidebar.sin-cat-cont__filter-body-form
    div.sidebar__filter-block
        div.sidebar__filter-title.active
            h3 Категории
            div.sidebar__filter-title-icon-con
                div.sidebar__filter-title-icon
                    +icon("arrow")
        div.sidebar__filter-options
            a(href="#").sidebar__filter-option
                span Отели
                span 10
            a(href="#").sidebar__filter-option
                span Рестораны
                span 10
            a(href="#").sidebar__filter-option
                span Отели
                span 10
            a(href="#").sidebar__filter-option
                span Отели
                span 10

    div.sidebar__filter-block
        div.sidebar__filter-title
            h3 Название фильтра
            div.sidebar__filter-title-icon-con
                div.sidebar__filter-title-icon
                    +icon("arrow")
        div.sidebar__filter-options
            - for (let number = 0; number < 5; number++)
                label(for= number).sidebar__filter-option-label
                    input(checked="checked" type="checkbox" id= number).sidebar__filter-option-input
                    div.sidebar__filter-option-title
                        span Бесплатный интернет
                        span 10
    button.sidebar__filter-accept
        p Поиск