div.subscribe
    img(src="image/sub-img-1.png").subscribe__first-img
    div.subscribe__con-form
        div.form__title
            h2.con-form-title Подпишитесь на наш новостной телеграм канал
            h3.con-form-sec-title и первыми узнавайте о событиях
        a(href="#").con-form__btn
            p Подписаться
        div.con-form__add-if Нажимая кнопку “Подписаться” вы соглашаетесь на
            a(href='#') обработку персональной информации.
    img(src="image/sub-img-2.png").subscribe__second-img