extends ../../scrollSection/scrollSection

block icon
    img(src='image/sections/section8icon.png')

block content
    div.scrollSection__contentWrap
        div.sc9__top
            div.scrollSection__textBlockWrap
                h2.scrollSection__titleBig Примеры решений, реализованных <br> для наших клиентов и стоимость
            div.sc9__buttons
                +linkButton('Узнать стоимость услуг', "#")
                +linkButtonThin('Посмотреть все кейсы', "#")
        div.sc9__slider
            div.swiper-wrapper
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/1.png')
                    p.slider__slideTitle Кафе <br> Цветочки
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/2.png')
                    p.slider__slideTitle THE VALET
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/1.png')
                    p.slider__slideTitle Кафе <br> Цветочки
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/2.png')
                    p.slider__slideTitle THE VALET
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/1.png')
                    p.slider__slideTitle Кафе <br> Цветочки
                div.slider__slide.swiper-slide
                    img(src='image/sections/case/2.png')
                    p.slider__slideTitle THE VALET
        .sc9swiper-scrollbar

