.sc9__top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .sc9__buttons {
    display: flex;

    a:first-child {
      margin-right: 20px;
    }
  }
}

.sc9__slider{
  width: 100%;
  height: 600px;

  margin-top: 80px;


  .slider__slide{
    height: 600px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 320px;
    transition: .3s;
    margin-right: 20px;

    &.swiper-slide-active{
      width: 460px !important;
      filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    }

    .slider__slideTitle{
      font-weight: 900;
      font-size: 36px;
      line-height: 120%;
      text-shadow: 0 0 25px #000000;
      padding: 20px;
      box-sizing: border-box;
      color: white;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.sc9swiper-scrollbar {
  margin-top: 40px;
  z-index: 0 !important;
  height: 10px;

  .swiper-scrollbar-drag {
    background: linear-gradient(266.53deg, #371A4F 0%, #490182 100%);
  }
}