extends ../../scrollSection/scrollSection

block icon
    img(src='image/sections/section8icon.png')

block content
    div.scrollSection__contentWrap
        div.sc9__top
            div.scrollSection__textBlockWrap
                h2.scrollSection__titleBig Отзывы клиентов
        div.sc10__slider
            div.slider__slide
                img(src='image/sections/review1.png').slider__photo
                div.slide__content
                    p.slider__text "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
                    div.slide__origin
                        img(src='image/sections/marquee/1.png').origin__image
                        p.origin__bold Пётр Сидоров
                        p.origin__sub Директор, ООО “COSMOPRO”
            div.slider__slide
                img(src='image/sections/review1.png').slider__photo
                div.slide__content
                    p.slider__text "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
                    div.slide__origin
                        img(src='image/sections/marquee/1.png').origin__image
                        p.origin__bold Пётр Сидоров
                        p.origin__sub Директор, ООО “COSMOPRO”
            div.slider__slide
                img(src='image/sections/review1.png').slider__photo
                div.slide__content
                    p.slider__text "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
                    div.slide__origin
                        img(src='image/sections/marquee/1.png').origin__image
                        p.origin__bold Пётр Сидоров
                        p.origin__sub Директор, ООО “COSMOPRO”

            div.slider__slide
                img(src='image/sections/review1.png').slider__photo
                div.slide__content
                    p.slider__text "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
                    div.slide__origin
                        img(src='image/sections/marquee/1.png').origin__image
                        p.origin__bold Пётр Сидоров
                        p.origin__sub Директор, ООО “COSMOPRO”


