.header{
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;

  &.white{
    .header__logo{
      filter: brightness(1);
    }

    .header__navs{
      filter: brightness(1);
    }

    .linkButton.thin{
      border-color: white;
      color: white;
    }
  }

  .header__logo{
    filter: brightness(0);
    transition: .3s;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  z-index: 100000;

  .header__navs{
    display: flex;
    justify-content: center;
    filter: brightness(0);
    transition: .3s;

    .header__nav{
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: white;

      &:not(:last-child){
        margin-right: 32px;
      }
    }
  }

  .header__buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }
}