$firsColor: #4D92EA;
$secondColor: #FF716E;
$thirdColor: #EED682;
$fourthColor: #82B2BD;
$textColor: #292A31;


@mixin adaptivFont($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1920 - 375;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

@mixin adaptivMargin($pcMargin, $mobMargin) {
  $addMargin: $pcMargin - $mobMargin;
  $maxWidth: 1920 - 375;
  margin-left: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
  margin-right: calc(#{$mobMargin + px} + #{$addMargin} * ((100vw - 375px) / #{$maxWidth}));
}


@mixin adaptivGridGap($pcGridGap, $mobGridGap) {
  $addSize: $pcGridGap - $mobGridGap;
  $maxWidth: 1920 - 375;
  grid-gap: calc(#{$mobGridGap + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}


@mixin adaptivMarginRight($pcMB, $mobMB) {
  $addSize: $pcMB - $mobMB;
  $maxWidth: 1920 - 375;
  margin-right: calc(#{$mobMB + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth}));
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 32px;

  @media (max-width: 1024px) {
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header__first-line {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include adaptivGridGap(32,16);

  @media (max-width: 1024px) {
    display: none;
  }
}

.header__logo {
  @include adaptivFont(32,24);
  display: flex;
  align-items: center;
  color: $textColor;
  img{
    width: 100%;
  }
}

.header__search_div{
  grid-column-start: 2;
  grid-column-end: 5;
}

.header__search {
  position: relative;
  display: grid;
  @include adaptivGridGap(32,16);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  input {
    font-family: NeueHaasUnica, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    height: 56px;
    padding: 0 15px 0 55px;
    border: 3px solid $firsColor;
    border-radius: 5px;
    font-size: 24px;
    transition: .3s;
    grid-column-start: 1;
    grid-column-end: 3;
    cursor: pointer;

    &:hover{
      box-shadow: 5px 5px 0 $secondColor, 10px 10px 0 $thirdColor;
    }
    &:focus{
      outline: none;
      box-shadow: 5px 5px 0 $secondColor, 10px 10px 0 $thirdColor;
    }
  }

  button{
    grid-column-start: 3;
    grid-column-end: 4;
    background: $secondColor;
    cursor: pointer;
    font-family: NeueHaasUnica, sans-serif;
    font-weight: 500;
    @include adaptivFont(24,16);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    outline: none;
    border: none;
    p{
      color: white;
    }
    &.active{
      opacity: 1;
      pointer-events: all;
    }
    &.active_always{
      opacity: 1;
      pointer-events: all;
    }
    &:hover{
      box-shadow: 5px 5px 0 $firsColor, 10px 10px 0 $thirdColor;
    }
  }
    svg {
      position: absolute;
      left: 15px;
      height: 32px;
      width: 32px;
      fill: $secondColor;
  }
}

.header__order-button {
  padding: 15px;
  border-radius: 20px;
  background: $firsColor;
  @include adaptivFont(24,16);
  color: #ffffff;
  width: fit-content;
  display: flex;
  justify-self: flex-end;
  height: fit-content;
}
.header__second-line {
  margin: 32px 0;
  position: relative;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      @media (max-width: 1400px) {
        &:nth-child(n+6):nth-child(-n+8){
          display: none;
        }
      }
    }
  }

  .header__second-line-item {
    @include adaptivFont(24,18);
    margin-right: 64px;
    z-index: 2;
    color: $textColor;
    transition: .3s;

    @media (max-width: 1760px) {
      margin-right: 32px;
    }

  }

  .header__second-line-item-hover{
    position: absolute;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    background: $firsColor;
    border-radius: 20px;
    height: 100%;
    top: -8px;
    left: -8px;
    padding: 8px 16px;

    &.shown{
      opacity: 1;
      transform: scale(1);
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.header__third-line {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @include adaptivGridGap(32,16);
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1760px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  li{
    @media (max-width: 1760px) {
      &:nth-child(5){
        display: none;
      }
    }
    @media (max-width: 1400px) {
      &:nth-child(4){
        display: none;
      }
    }
  }
  .header__third-line-item {
    padding: 0 40px;
    height: 80px;
    border-radius: 20px;
    background: $secondColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    @include adaptivFont(24,18);
    line-height: 100%;
    color: #ffffff;


    @media (max-width: 1550px) {
      padding: 0 20px;
      height: 60px;
    }

    &:hover{
      box-shadow: 5px 5px 0 $firsColor, 10px 10px 0 $thirdColor;
      transform: translate(-10px,-10px);
    }

    svg {
      height: 35px;
      width: 35px;
      max-width: 35px;
      flex: 1;
      fill: white;
    }

    span {
      flex: 2;
      text-align: right;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
.header__buy-tour{
  grid-column-start: 5;
  grid-column-end: 7;
  justify-self: flex-end;
}

.header__second-line-show-more{
  cursor: pointer;
  transition: .3s;
  &:hover{
    transform: translateY(-5px);
  }
  display: none;

  @media (max-width: 1400px) {
    display: block;
  }
}

.header__second-line-dots{
  position: relative;
}

.header__second-line-show-more-wrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  z-index: 100;
  right: 0;
  top: 120%;
  box-shadow: 0 10px 44px rgba(77, 146, 234, 0.15);
  transition: .3s;
  transform: translateY(15px);
  opacity: 0;
  pointer-events: none;

  @media (min-width: 1400px) {
    display: none !important;
  }

  &.active{
    transform: none;
    opacity: 1;
    pointer-events: all;
  }
}

.header__mobile-menu{
  position: fixed;
  display: none;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  background: white;
  z-index: 1000;
  height: 100px;

  @media (max-width: 1024px) {
    display: flex;
  }
  .header__mobile-fixed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background: white;
    padding-left: calc(16px + 80 * ((100vw - 375px) / 1545));
    padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));

    .header__mobile-logo{
      img{
        max-height: 72px;
        width: calc(100vw - ((16px + 80 * ((100vw - 375px) / 1545)) * 2) - 54px) ;
        object-fit: contain;
        object-position: left;
      }
    }
  }
}

.header__mobile-button{
  height: 25px;
  width: 34px;
  padding: 14px 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;

  &.active{
    .header__mobile-button-line-1{
      transform: translate(-3px, 5px) rotate(-45deg) ;
    }

    .header__mobile-button-line-3{
      transform: translate(-20px, -5px) rotate(45deg) ;
    }
  }

  .header__mobile-button-line-1, .header__mobile-button-line-2, .header__mobile-button-line-3{
    height: 5px;
    border-radius: 20px;
    background: $textColor;
    transition: .3s;
  }

  .header__mobile-button-line-1, .header__mobile-button-line-3{
    width: 50%;
  }

  .header__mobile-button-line-3{
    justify-self: flex-end;
  }
}

.header__mobile-hidden{
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  top: 0;
  left: -100vw;
  right: 100vw;
  bottom: 0;
  background: white;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  &.active{
    opacity: 1;
    left: 0;
    right: 0;
    pointer-events: all;
  }
}

.header__mobile-inner{
  @include adaptivMargin(96, 16);
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr;
  margin-top: 24px;

}

.header__mobile-search{
  position: relative;
  input{
    width: 100%;
    background: #FFFFFF;
    border: 3px solid $firsColor;
    box-sizing: border-box;
    border-radius: 5px;
    height: 56px;
    padding: 5px 75px 5px 10px ;
    font-size: 24px;
    font-family: NeueHaasUnica, sans-serif;
    font-weight: 500;
  }

  button{
    background: none;
    border: none;
    position: absolute;
    padding: 15px;
    right: 10px;
    top: 0;

    svg{
      fill: $secondColor;
      height: 25px;
      width: 25px;
    }
  }
}
.header__mobile-tour{
  background: $firsColor;
  box-shadow: 22px 44px -12px rgba(77, 146, 234, 0.35);
  border-radius: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px ;
  color: white;
}
.header__mobile-link-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;

  li a{
    font-size: 32px;
  }
}
.header__mobile-link-slider{
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  overflow: scroll;
  margin-right: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
  margin-left: calc((16px + 80 * ((100vw - 375px) / 1545)) * -1);
  padding-bottom: 18px;
  width: 100vw;

  li:first-child{
    margin-left: calc(16px + 80 * ((100vw - 375px) / 1545));
  }
  li:last-child{
    padding-right: calc(16px + 80 * ((100vw - 375px) / 1545));
    a{
      margin-right: 0;
    }
  }
  .header__mobile-slider-item{
    @include adaptivFont(24,18);
    display: flex;
    padding: 0 40px;
    height: 80px;
    background: $secondColor;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    min-width: 260px;
    margin-right: 16px;
    box-sizing: border-box;

    svg{
      height: 25px;
      width: 25px;
      fill: white;
    }

    span{
      color: white;
      font-weight: 500;
      text-align: right;
    }
  }
}

.body_overflow-hidden{
  overflow: hidden;
}