div.header.globalPadding
    a.header__logo
        img(src='image/logo.png')
    div.header__navs
        a.header__nav О нас
        a.header__nav Услуги
        a.header__nav Кейсы
        a.header__nav Команда
    div.header__buttons
        +linkButtonThin("Написать нам")
        +linkButton("Войти")






