.linkButton{
  padding: 12px 24px;
  color: white;
  border: 1px solid #000000;
  border-radius: 6px;
  transition: .3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;


  &.thin{
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    
    &:hover{
      border-color: #490280;
      color: #490280;
    }
    &:after{
      background: none;
    }
  }

  &:hover:after{
    transform: translateX(-50%);
  }

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(266.53deg, #371A4F 0%, #490182 100%);
    transition: .3s;
    z-index: -1;
  }
}