mixin icon(itemName)
    svg(class='__icon-' + itemName)
        use(xlink:href="image/sprite.svg#" + itemName)

mixin linkButton(textBtn,linkBtn)
    a(href=linkBtn).linkButton.fbutton= textBtn

mixin linkButtonThin(textBtn,linkBtn)
    a(href=linkBtn).linkButton.fbutton.thin= textBtn