extends ../../scrollSection/scrollSection

block icon
    img(src='image/sections/section8icon.png')

block content
    div.scrollSection__contentWrap
        div.scrollSection__textBlockWrap
            p.scrollSection__boldText Наша команда
            p.scrollSection__caption Когда за работой профессионалы, ваш проект в надежных руках
        div.scrollSection__team
            div.team__wrap
                div.team__photoWrap
                    img(src="image/sections/team1.png").team__photo
                    p.team__name Аленин Александр
                div.team__infoWrap
                    div.team__links
                        a(href='#').team__link
                            img(src='image/sections/vk.png')
                        a(href='#').team__link
                            img(src='image/sections/tg.png')
                    P.team__name Аленин Александр

                    P.team__job CRM-Архитектор
                    P.team__text Создает рабочие механики по упрощению работы в цифровой среде.

            div.team__wrap
                div.team__photoWrap
                    img(src="image/sections/team2.png").team__photo
                    p.team__name Тарасов Артур
                div.team__infoWrap
                    div.team__links
                        a(href='#').team__link
                            img(src='image/sections/vk.png')
                        a(href='#').team__link
                            img(src='image/sections/tg.png')
                    P.team__name Тарасов Артур
                    P.team__job Back-end программист
                    P.team__text Специалист, который принимает самые сложные вызовы. Внедрение бонусной программы, программирование сайта или интеграция кастомных функций в бизнес - это сделает Артур.


