extends ../../scrollSection/scrollSection

block icon
    img(src='image/sections/section8icon.png')

block content
    div.scrollSection__contentWrap
        div.scrollSection__textBlockWrap
            p.scrollSection__boldText Наша команда
            p.scrollSection__caption Когда за работой профессионалы, ваш проект в надежных руках
        div.scrollSection__marquee
            div.marquee__item
                img(src='image/sections/marquee/1.png')
            div.marquee__item
                img(src='image/sections/marquee/2.png')
            div.marquee__item
                img(src='image/sections/marquee/3.png')
            div.marquee__item
                img(src='image/sections/marquee/4.png')
            div.marquee__item
                img(src='image/sections/marquee/5.png')
            div.marquee__item
                img(src='image/sections/marquee/6.png')



